body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.modo-noturno {
    background-color: #333;
    color: #fff;
}

.container {
    text-align: center;
}

h1 {
    color: inherit; /* Use 'inherit' para herdar a cor do texto do elemento pai */
}

input {
    padding: 8px;
}

button {
    padding: 8px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

.tarefa {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.tarefa span {
    flex-grow: 1;
}

.concluida {
    text-decoration: line-through;
}

.modo-toggle {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
}
